.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vmin;
  margin: auto;
  height: 40vmin;
  pointer-events: none;
}

.top {
  height: 400px
}

.bottom {
  height: fit-content;
  text-align: center;
  font-size: 150%;
  padding: 30px;
}

.App-welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 200%;
  padding: 10px;
  animation: glow 2s ease-in-out infinite alternate;
  color: white;
}

.search-box {
  width: 300px;
}

button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 305px;
  padding-top: 5px;
  background-color: white;
  border-block: None;
  text-align: left;
}

button:hover {
  background-color:#fdd4d4;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b80303, 0 0 40px #b80303, 0 0 50px #b80303, 0 0 60px #b80303, 0 0 70px #b80303;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e20000, 0 0 40px #e20000, 0 0 50px #e20000, 0 0 60px #e20000, 0 0 70px #e20000, 0 0 80px #e20000;
  }
}
