.boxContainer {
  margin: auto;
  margin-top: 20;
  position: relative;
  width: 700px;
  height: 42px;
  border: 2px solid #5c5c5c;
  padding: 0px 10px;
  border-radius: 50px;
  background-color: white;
  box-shadow: #313131;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search-box {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 18px;
  font-family: "Nunito";
  color: #424242;
  font-weight: 500;
}

.search-box:focus {
  outline: none;
}

.search_type {
  text-align: left;
  font-size: 18px;
  font-family: "Nunito";
  border: None;
  background-color: white;
}

.search_button {
  width: 40px;
  height: 38px;
  border: none;
  background-color: white;
  align-items: right;
}

.search_button:hover {
  background-color:#ffffff;
  transition: 0.5s;
  cursor: pointer;
}

material-icons {
  font-size: 25;
  color: #2980b9;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40vmin;
  margin: auto;
  height: 40vmin;
  pointer-events: none;
}

.top {
  height: 35%;
  text-align: center;
}

.bottom {
  height: fit-content;
  text-align: center;
  overflow: auto;
  padding-top: 50px;
}

.max {
  text-align: center;
  width: 55px;
  text-align: left;
  font-size: 18px;
  font-family: "Nunito";
  border: None;
  background-color: white;
}

.welcome {
  text-align: center;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-size: 170%;
  font-weight: 800;
  color: white;
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: #c8043c;
  font-family: Georgia, serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.results {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  padding-top: 10px;
}

.shadow {
  width: 1100px;
  min-height: 100%;
  left: 50%;
  margin-left: -550px;
  background-color: #ffffffaf;
  background-size: cover;
  position: relative;
  border-radius: 50px;
  overflow: auto;
  border: 4px solid #b30234;
}

button {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 40px;
  padding-top: 3px;
  background-color: white;
  border-block: None;
  text-align: left;
  overflow: auto;
  font-size: 17px;
  font-family: "Nunito";
}

button:hover {
  background-color:#fdd4d4;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}

body{
  background-color: black;
}

html,body { 
  height: 100%;
  overflow: auto;
 }

 .display {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-family: "Nunito";
  overflow: auto;
 }

 .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100px;
  height: 500px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #b30234;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

 

